.intro-details-abt {
  background-color: #fff;
  border: 2px solid #d3d3d3;
  max-width: 600px;
  color: #272a31;
}

.email {
  color: black;
  display: block;
}

.footer-bg {
  background-color: #2e2e2e;
}

.partner-header,
.footer-bg ul > li {
  color: #fbfbfb;
}

.footer-lg {
  height: 150px;
}

.ward-34 {
  background-image: url(../img/ward.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 350px;
  color: #fbfbfb;
}

.ward-40 {
  background-image: url(../img/wardl.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 350px;
  color: #fcfffd;
}

.conta {
  height: 140px;
  width: 190px;
  position: relative;
  top: -40px;
}

.hello-text {
  display: none;
}

.logo-design {
  display: flex;
  gap: 50px;
  font-size: 30px;
}

.logo-design img {
  width: 140px;
}

@media (min-width: 768px) {
  .footer-lg {
    background-color: #2e2e2e;
    color: #fbfbfb;
  }
}
